.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgba(228,94,29, 0.5);
    background-image: url('./venice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Merienda', cursive;

}
hr {
    border-top: 2px solid rgb(255, 197, 168);
}
#container {
    width: 580px;
    height: 590px;
    margin: 40px auto;
    border-radius: 20px;
    background-color:rgba(238, 175, 180, 0.9);
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
#inner-container {
    color: white;
    width: 520px;
    height: 530px;
    background-color: rgb(202, 116, 123);
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 2.1em;

}
#inner-container h1 {
    font-size: 1em;
    padding-top: 20px;
}
#break-label, #session-label {

    font-size: 0.6em;
}
#break-decrement, #break-length, #break-increment, #session-decrement, #session-length, #session-increment {
    display: inline-block;    
}
.plus-minus {
    margin: 0 10px;
    font-size: 1.2em;
    color: rgb(255, 197, 168);
    cursor: pointer;
}
.panel-item {
    width: 45%;
    display: inline-block;
}
#session {
    margin-top: 20px;
}
#timer-label {
    font-size: 1em;
    margin-top: 40px;
}

#time-left {
    background-color: rgb(102, 151, 102);
    color: black;
    border-radius: 10px;
    width: 45%;
    margin: 20px auto;
    padding: 15px;
    border: 4px inset rgb(238, 175, 180);
    font-family: 'Press Start 2P', cursive;

}
#start_stop, #reset {
    filter: invert(100%);
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

#style-switch  {
    font-size: 0.5em;
}
.style-btn {
    display: inline-block;
    padding: 10px;
}
#tomato:hover, #beach:hover, #city:hover {
    color: rgb(255, 197, 168);
    cursor: pointer;
}

footer {
    text-align: center;
    color: white;
}
#credits {
    font-size: 0.9em;
}